name: Build CSLol Patcher DLL
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022

    steps:
    - name: "Clone source"
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: "Setup MSVC"
      uses: ilammy/msvc-dev-cmd@v1

    - name: "Build DLL"
      shell: cmd
      run: |
        mkdir build
        cd build
        cmake -G "NMake Makefiles" -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_C_COMPILER=clang-cl -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded ..
        cmake --build .

    - name: "Package DLL"
      shell: cmd
      run: |
        7z a cslol-patcher.zip build\cslol-*
        7z rn cslol-patcher.zip build\ cslol-patcher\

    - name: "Upload Artifact"
      uses: actions/upload-artifact@v4
      with:
        name: cslol-patcher
        path: cslol-patcher.zip
        retention-days: 15
