name: Build CSLOL Patcher

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup MSVC environment
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build DLL
        run: |
          mkdir build
          cd build
          cmake -G "NMake Makefiles" ^
                -DCMAKE_BUILD_TYPE=RelWithDebInfo ^
                -DCMAKE_C_COMPILER=clang-cl ^
                -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded ..
          cmake --build .

      - name: Package DLL
        shell: bash
        run: |
          7z a cslol-patcher.zip build/cslol-*
          7z rn cslol-patcher.zip build/ cslol-patcher/

      - name: Upload DLL artifact
        uses: actions/upload-artifact@v4
        with:
          name: cslol-patcher
          path: cslol-patcher.zip
          retention-days: 15
